<html>

<head>
    <title>IT Academy</title>
    <link rel="stylesheet" href="css/style.css">

</head>

<h1>IT Academy</h1>
<h2>Formations disponibles</h2>
<div id="form">
    <form id = "childform" action="/voirpanier" method="get">
        <button id="panier" type="submit">Voir le panier</button>
    </form>
    <form id = "childform" action="/loginpage" method="get">
        <button id="connexion" type="submit">Se connecter</button>
    </form>
    
</div>
<div>
    <table>
        <tbody>
            <tr>
                <th>id</th>
                <th>nom</th>
                <th>Prix</th>
                <th>Date début</th>
                <th>Date fin</th>
                <th></th>
            </tr>
            <% for( let index=0; index < list_forma.length; index++ ) { %>
                <tr>
                    <th>
                        <%=list_forma[index].idformation%>
                    </th>
                    <th>
                        <%=list_forma[index].nomformation%>
                    </th>
                    <th>
                        <%=list_forma[index].prix%>
                    </th>
                    <th>
                        <%=list_forma[index].debut%>
                    </th>
                    <th>
                        <%=list_forma[index].fin%>
                    </th>
                    <th>
                        <form action="/addpanier/<%=list_forma[index].idformation %> " method="get">
                            <button id="inscription" type="submit">S'inscrire</button>
                        </form>
                    </th>
                </tr>
                <% } %>
        </tbody>
    </table>
</div>

</html>